.env
service_account.json
weather-td-*.json
__pycache__/
*.pyc
.venv/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
android-app/.gradle/
android-app/.idea/
android-app/local.properties
android-app/**/build/
*.iml
